*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
:root{
    --body-color:#efefef;
    --nav-color: #003780;
    --bg-color:#fff;
}
.dark-theme{
    --body-color:#0a0a0a;
    --nav-color: #000;
    --bg-color:#000;    
}

body{
    background: var(--body-color);
}
a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 7px 5%;
}
.logo{
    width: 160px;
    margin-right: 45px;
}
.P{
    font-size: 35px;
    color:#003780;
    background-color: #ffffff;
    padding: 0 5px;
    border-radius: 2px;
    margin-right: 2px;
}
.phibook{
    font-size: 28px;
    color: #f5f3f3;
    letter-spacing: 0.8px;
    margin-right: 20px;
}
.nav-left,.nav-right{
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
    width: 28px;
    margin: 0 13px;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-user-icon{
    margin-left: 30px;
}
.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    display: block;
}

.left-sidebar h4{
    color: #626262;
    margin-top: 10px;
    letter-spacing: 0.7px;
}
.left-sidebar p{
    font-size: 14px;
    margin-top: 8px;
    color: #626262;
    letter-spacing: 0.7px;
}
.left-sidebar p:last-child{
    margin-bottom: 20px;
}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border: 4px;
    color: #626262;
    display: block;
}

.main-sidebar{
    flex-basis: 47%;
}
.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-links img{
    max-width: 150px;
    border-radius: 5px;
    margin-right: 15px;
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links p{
    letter-spacing: 1.1px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 300;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}

.sidebar-title,.Advertisements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.right-sidebar h4,.Advertisements h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a,.Advertisements a{
    cursor: pointer;
    text-decoration: none;
    color:#1876f2;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.right-event i{
    margin-right: 3px;
}
.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.online-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.online{
    display: flex;
}
.online img{
    height: 45px;
}

.suggestions-list{
    display: block;
}
.suggested{
    display: flex;
}
.comments{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;    
}
.ellipsis-icon{
    gap: 20px;
    display: flex;
}
.ellipsis-icon p{
    color: #4e4d4d;
}
.single-comment{
    border-radius: 20px;
    padding: 10px;
    background: #f5f3f3;
}
.online-list .online img , .comments img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online small, .comments small{
    color: #626262;
}
.online-list p{
    font-weight: 600;    
}
.online-list a{
    text-decoration: none;
    color: #4a8ce2;
    letter-spacing: 0.5px;
    font-weight: 600;
    margin-left: 10px;
}

.write-post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
font-size: 17.5px;
 font-weight: 500;
 color: #5a5858;
}
.user-profile small{
    font-size: 12px;
}
.user-profile i{
    margin-left: 3px;
}
.images img{
    margin: 1px;
    width: 125px;
    height: 110px;
    object-fit: cover;
}
.post-input-container{
    padding: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    background-color: var(--body-color);
    padding: 10px;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}
.post-container{
    width: 100%;
    background: var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.user-profile span{
    font-size: 13px;
    color: #929292;
}
.post-text{
    color: #797474;
    margin: 15px 0;
    font-size: 15px;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
    cursor: pointer;
    width: 18px;
    margin-right: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    margin-top: 5px;
}
.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.post-row a{
    color: #9a9a9a;
}
.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 360px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}
.settings-menu-height{
    max-height: 450px;
}
.user-profile a{
    font-size: 12px;
    color:#1876f2;
    text-decoration: none;
}
.settings-menu-inner{
    padding: 20px;
}
.settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}
.settings-link{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.settings-link .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.settings-link a{
    cursor: pointer;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}
.settings-link img{
    cursor: pointer;
}
#dark-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ccc;
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s,background 0.5s;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: #222222;
}

.suggested_post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.suggested_post p{
    font-size: 18px;
    margin: 10px 0;
    margin-bottom: 22px;
    color: #3a3939;
}
.b_suggest{
    font-size: 30px;
    margin-left: 5px;
}
.button_suggest{
    margin-left: -8px;
    background: none;
    color: #4981ca;
    font-size: 16px;
    font-weight: 600;
}
.button_suggest:hover{
    background: none;
}
.make-flex{
    display: flex;
}
.make-flex b{
    margin-top: -15px;
}
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .left-sidebar, .right-sidebar {
        flex-basis: 100%;
        display: none;
        margin-bottom: 20px;
        position: static;
    }
}

@media (max-width: 768px) {
    .left-sidebar, .right-sidebar  {
        flex-basis: 100%;
        display: none;
        margin-bottom: 20px;
    }

    .story {
        flex-basis: 22%;
    }
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .left-sidebar, .right-sidebar  {
        flex-basis: 100%;
        display: none;
        margin-bottom: 20px;
    }    
    .nav-left {
        margin-bottom: 10px;
        width: 100%;
    }

    .search-box {
        width: 100%;
    }

    .container {
        padding: 10px;
    }

    .story {
        flex-basis: 48%;
    }

    .post-container, .write-post-container {
        padding: 15px;
    }
}
.send-comments{
    padding-top: 20px;
}
.send-comments textarea{
    background-color: var(--body-color);
    padding: 10px;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    resize: none;
}

.edit-menu{
    margin-left: -270px;
    margin-top: -40px;
    position: absolute;
    width: 90%;
    max-width: 260px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    transition: max-height 0.3s;
}
.edit-comment-menu{
    margin-left: -100px;
    margin-top: px;
    position: absolute;
    width: 90%;
    max-width: 150px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 4px;
    overflow: hidden;
    transition: max-height 0.3s;    
}

.edit-menu-inner{
    padding: 0 20px;
}


.edit-link{
    align-items: center;
    margin: 15px 0;
}
.edit-link .settings-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.edit-link a{
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}
.fa-ellipsis{
    color: #626262;
}
.post-video{
    width: 100%; 
    height: auto; 
    max-width: 800px;
    border: 2px solid #ddd; 
    border-radius: 3px; 
    display: block; 
}
.single-comment{
    background-color: var(--body-color);
}
/* Style the textarea */
textarea[id^="edit-comment-text-"] {
    background-color: var(--body-color);
    color: #626262;
    min-width: 400px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    resize: none;
}

/* Style the Save button */
button {
    background-color: #4b4b4b; /* Green color */
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
    font-size: 14px;
}

/* Hover effect for the button */
button:hover {
    background-color: #2e73c2; /* Darker green */
}

/* Optional: Add some spacing to the container div */
#comment-container {
    margin-bottom: 16px;
}
.suggestions{
    margin-top: -15px;
}
.suggestions p{
    color: #4b4b4b;
}
.small_suggest{
    color: #4e4d4d;
    font-weight: 400;
}